<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify</title>
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="stylesheet" href="/css/card.css">
    <script src="/js/jQuery.js" ></script>
</head>

<body>

<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a th:href="@{/home}"><img src="./images/logo-color.png" alt="Eventify Logo"></a>
        </div>
        <div class="menu-toggle" id="menu-toggle">
            <ul class="menu responsive">
                <li><a th:href="@{/home}" class="create-event-btn nav-category">Home</a></li>
                <li><a th:href="@{/logout}" id="logout-btn" class="navbar-btn">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="hero-section-home">
    <div class="card-container">
        <div class="organizer-event-detail">
            <h3>My Events</h3>
            <div class="total-event-posted">
                <h3>Total Event RSVPed:&nbsp;&nbsp;</h3>
                <h3 th:text="${totalRsvps}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="column" th:each="event : ${eventList}">
                <div class="card">
                    <img src="./images/card-img.png" alt="" class="card-img">
                    <div class="event-info">
                        <p class="event-name" th:text="${event.eventName}"></p>
                        <p class="event-time" th:text="${event.eventDate}"></p>
                        <p class="event-loc" th:text="${event.location}"></p>
                        <a href="#" class="event-reg-update-btn"
                           th:data-user-id="${session.user_id}" th:data-event-name="${event.eventId}"
                           th:onclick="|updateRegistrationDetails(this.getAttribute('data-user-id'), this.getAttribute('data-event-name'))|">
                            Not Interested
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h6 th:text="${session.username}"></h6>
</section>
<script src="/js/eventHandler.js"></script>

</body>

</html>